@model IEnumerable<Macservice.Models.Trinhdo_chuyenmon>

@{
    ViewBag.Title = "Trình độ chuyên môn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Trinhdo_chuyenmon">Quản lý chức vụ</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<h2 class="mB-30">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="row mB-15">
        <div class="col-sm-9">
            <a href="/Trinhdo_chuyenmon/Create" class="btn btn-success">Thêm mới</a>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" name="tukhoa" class="form-control" placeholder="Từ khóa..." value="@ViewBag.Tukhoa">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </div>
}
<hr />
<div class="table-responsive">
    <table class="table table-bordered table-bordered table-striped">
        <thead>
            <tr>
                <th>Mã trình độ chuyên môn</th>
                <th>Tên trình độ chuyên môn</th>
                <th style="width:120px;">Hành động</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <span>TDCM</span>@Html.DisplayFor(modelItem => item.Matrinhdochuyenmon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tentrinhdochuyenmon)
                        </td>
                        <td>
                            <a href="/Trinhdo_chuyenmon/Edit/@item.Matrinhdochuyenmon" class="btn btn-sm btn-primary">Sửa</a>&nbsp;
                            <a href="/Trinhdo_chuyenmon/Delete/@item.Matrinhdochuyenmon" class="btn btn-sm btn-danger">Xóa</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="3">Không có bản ghi nào.</td></tr>
            }
        </tbody>

    </table>
</div>
